body {
  margin: 0;
  padding: 0;
  background-color: #333;
  color: white;
  overflow-x: hidden;
}
  
  
.navbar {
    background-color: #000000;
    overflow: hidden;
  }

.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Style for the active link in the navbar */
.active {
    background-color: #4CAF50;
  }

  /* Style for the links in the navbar */
 

  /* Style for the title */
.title {
    text-align: center;
    margin-top: 30px;
    font-family: "Lucida Console",  monospace;
    text-shadow: 2px 2px 5px #4CAF50;
    font-size: 40px;
}

  /* Style for the text below the navbar */
.text {
    text-align: center;
    margin-top: 50px;
}


.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  /* Style for the left input section */
  .left-section {
    flex: 1;
    padding: 20px;
    margin-top: 60px;
  }

  /* Style for the input text area */
  .input-area {
    width: 100%;
    height: 300px;
    padding: 10px;
    box-sizing: border-box;
    background-color: black;
    color: aliceblue;
  }

  /* Style for the submit button */
  .submit-button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }

  /* Style for the right output section */
  .right-section {
    flex:1;
    padding: 20px;
  }

  /* Style for the output text area */
  .output-area {
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    background-color: black;
    color: aliceblue;
  }


  #scale {
    width: 300px;
    height: 20px;
    border-radius: 10px;
    background-color: #333;
    -webkit-appearance: none;
    margin: 10px 0;
  }
  
  #scale::-webkit-slider-runnable-track {
    height: 10px;
    background-color: #4CAF50;
    border-radius: 10px;
  }
  
  #scale::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #4CAF50;
    margin-top: -5px;
  }
  

/* Add styles for the spinner element */
#spinner {
  display: none;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid #ccc;
  border-top-color: #333;
  animation: spin 1s ease-in-out infinite;
}

#spinner-mcq {
  display: none;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid #ccc;
  border-top-color: #333;
  animation: spin 1s ease-in-out infinite;
}

/* Add an animation for the spinner element */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.mcq-container {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #303030;
}

.mcq-question {
  margin-bottom: 20px;
}

.mcq-options {
  display: flex;
  flex-direction: column;
}

.mcq-options label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.mcq-options input[type="radio"] {
  display: none;
}

.option-box {
  width: 20px;
  height: 20px;
  border: 2px solid #aaa;
  border-radius: 5px;
  margin-right: 10px;
}

.mcq-options label:hover .option-box {
  border-color: #4cc547;
}

.mcq-options input[type="radio"]:checked + .option-box {
  background-color: #03fd03;
  border-color: #4cc547;
}

.mcq-submit {
  text-align: center;
  margin-top: 20px;
}

.mcq-submit button {
  padding: 10px 20px;
  background-color: #2c7c24;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mcq-submit button:hover {
  background-color: #4cc547;
}


.half-vertical {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}
.half-vertical .left {
  flex: 1;
  background-color: #000000;
  padding: 20px;
  box-sizing: border-box;
}
.half-vertical .right {
  flex: 1;
  background-color: #303030;
  padding: 20px;
  box-sizing: border-box;
}