<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class="title">Main Project</h1>
    <div class="navbar">
        <a class="active" href="/">ABOUT</a>
        <a href="summary">SUMMARIZER</a>
        <a href="mcq">MCQ GENERATION</a>
    </div>
    <div class="text">
        <p>Here is some text below the navbar.</p>
    </div>
</body>
</html>